$light-grey: #DCDCDC;
$bg-gray: #F7F7F7;
$border-grey: rgba(255, 255, 255, 0.5);

$blue-gradient: linear-gradient(106.5deg, #69B1C9 11.42%, #6081C3 53.89%, #5558AF 95.29%);

$light-black: rgba(40, 40, 40, 0.8);
$main-black: #282828;
$dark-black: #0B0B0B;

$pink: #F65D81;

$Gilroy-font: 'Gilroy-Medium';
$Neuzeit-font: 'Neuzeit Grotesk Regular';

$headphones-type-gray: #ADACB1;
$headphones-type-black: #282828;
$headphones-type-beige: #ECAAA7;
$headphones-type-light-beige: #ECE5DD;